/* VIEW */
.view {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 48px;
    display: grid;
    grid-template-areas: 
        "console desktop shop"
        "servers servers servers";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr;
    padding: 24px;
    gap: 24px;
    background-color: skyblue;
}


/* WINDOW */
.window {
    transform: scale(1);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}
.window.active {
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
}


/* DESKTOP */
.desktop {
    grid-area: desktop;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.desktop .browser {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    border-top: 20px solid #cccccc;
    box-sizing: border-box;
}

.desktop .browser .dot {
    position: absolute;
    top: -13px;
    right: 8px;
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
}
.desktop .browser .dot.d2 {
    right: 17px;
}
.desktop .browser .dot.d3 {
    right: 26px;
}

.desktop .browser .search-bar {
    position: absolute;
    top: -16px;
    height: 12px;
    left: 8px;
    right: 42px;
    background-color: white;
    border-radius: 2px;
    overflow: hidden;
}

.desktop .browser .search-bar .progress {
    display: inline-block;
    height: 100%;
    width: 0%;
    background-color: rgb(102, 185, 123);
    transition: all 0s;
}
.desktop .browser .search-bar .progress.active {
    transition: all 1s;
    width: 100%;
}

.desktop .browser button {
    display: inline-block;
    padding: 8px 24px;
    margin: 0 auto;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: rgb(47, 161, 32);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.2s;
    cursor: pointer;
}
.desktop .browser button:hover {
    background-color: rgb(49, 168, 33);
}
.desktop .browser button:active {
    transform: translate(-50%,-50%) scale(0.95);
}
.desktop .browser button img {
    display: inline-block;
    height: 24px;
    width: auto;
    margin-right: 4px;
    position: relative;
    right: 6px;
    top: 4px;
}


/* CONSOLE */
.console {
    grid-area: console;
    position: relative;
    background-color: #333;
    border: 6px solid #555;
    border-top-width: 20px;
    border-radius: 4px;
    padding: 12px;
}

.console .dot {
    position: absolute;
    top: -13px;
    right: 8px;
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
}
.console .dot.d2 {
    right: 17px;
}
.console .dot.d3 {
    right: 26px;
}


/* SHOP */
.shop {
    grid-area: shop;
    position: relative;
    background-color: white;
    border-top: 20px solid #cccccc;
    border-radius: 4px;
    padding: 12px;
}

.shop .dot {
    position: absolute;
    top: -13px;
    right: 8px;
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
}
.shop .dot.d2 {
    right: 17px;
}
.shop .dot.d3 {
    right: 26px;
}

.shop .items {

}

.shop .items img {
    width: auto;
    height: 20px;
}


/* SERVERS */
.servers {
    grid-area: servers;
    background-color: white;
    border-top: 20px solid #cccccc;
    border-radius: 4px;
    position: relative;
}

.servers .dot {
    position: absolute;
    top: -13px;
    right: 8px;
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
}
.servers .dot.d2 {
    right: 17px;
}
.servers .dot.d3 {
    right: 26px;
}

.servers .my-servers {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    overflow: hidden;
    padding: 12px;
}

/* TASKBAR */
.taskbar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 48px;
    background-color: #1a264b;
}

.taskbar p {
    display: inline-block;
    color: white;
    padding: 14px 24px;
    margin: 0;
}

.taskbar p.active {
    background-color: #3c4b79;
}
