<div class="view">

    <div class="desktop window" (click)="active = 'desktop'" [ngClass]="{'active': active == 'desktop'}">
        <div class="browser">
            <span class="dot d1">&nbsp;</span>
            <span class="dot d2">&nbsp;</span>
            <span class="dot d3">&nbsp;</span>

            <div class="search-bar">
                <div class="progress" [ngClass]="{'active': progressActive}">&nbsp;</div>
            </div>

            <button (click)="click()">
                <img src="/assets/download.svg">
                <span>abelade</span>
            </button>
        </div>
    </div>

    <div class="console window" (click)="active = 'console'" [ngClass]="{'active': active == 'console'}">
        <span class="dot d1">&nbsp;</span>
        <span class="dot d2">&nbsp;</span>
        <span class="dot d3">&nbsp;</span>

        <div class="text">
            <p>Bytes: {{bytes}}</p>
        </div>

    </div>

    <div class="shop window" (click)="active = 'shop'" [ngClass]="{'active': active == 'shop'}">
        <span class="dot d1">&nbsp;</span>
        <span class="dot d2">&nbsp;</span>
        <span class="dot d3">&nbsp;</span>

        <div class="items">
            <div>
                <img src="/assets/img/raspberry.png">
                <p>kaufen</p>
            </div>
            <div>
                <img src="/assets/img/dell_t40.png">
                <p>kaufen</p>
            </div>
            <div>
                <img src="/assets/img/hp_ml30.png">
                <p>kaufen</p>
            </div>
            <div>
                <img src="/assets/img/dell_t340.png">
                <p>kaufen</p>
            </div>
        </div>

    </div>

    <div class="servers window" (click)="active = 'servers'" [ngClass]="{'active': active == 'servers'}">
        <span class="dot d1">&nbsp;</span>
        <span class="dot d2">&nbsp;</span>
        <span class="dot d3">&nbsp;</span>

        <div class="my-servers">
            <!-- <img src="/assets/img/raspberry.png">
            <img src="/assets/img/dell_t40.png">
            <img src="/assets/img/hp_ml30.png">
            <img src="/assets/img/dell_t340.png"> -->
        </div>
    </div>

</div>

<div class="taskbar">
    <p [ngClass]="{'active': active == 'console'}" (click)="active = 'console'">Console</p>
    <p [ngClass]="{'active': active == 'desktop'}" (click)="active = 'desktop'">Browser</p>
    <p [ngClass]="{'active': active == 'shop'}" (click)="active = 'shop'">Shop</p>
    <p [ngClass]="{'active': active == 'servers'}" (click)="active = 'servers'">Servers</p>
</div>