.server {
    position: relative;
    padding: 24px;
}

.server .pipe {
    position: absolute;
    height: 6px;
    width: 200px;
    bottom: 30%;
    left: 64px;
    background-color: blueviolet;
    z-index: 0;
}

.server img {
    position: relative;
    width: 128px;
    height: 128px;
    z-index: 5;
}
